body {
    padding: 5%;
    /* Cor de fundo alternativa */
    font-family:'Courier New', Courier, monospace;
    overflow:scroll;
    color: #1F1B31FF;
    accent-color: blue;
}

.background {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;

    /* Aplica a textura e define a repetição */
    background-image: url('images/bg01.png');
    background-size: 256px 256px;
    background-repeat: repeat;
    background-position: 0 0;

    /* Mantém o fundo atrás de tudo */
    z-index: -1;

    /* Animação do scroll infinito */
    animation: scroll-diagonal 20s linear infinite;
}

@keyframes scroll-diagonal {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -512px 512px; /* Move 2 blocos de 256px */
    }
}

.avatar {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 4px solid whitesmoke;
}

.aboutme-container {
    width: fit-content;
}

.aboutme {
    background-color: #EF476F;
    border: 4px solid whitesmoke;
    padding: 2%;
    width: 50%;
    height: 500px;
    float: right;
    box-shadow: 3.3px 6.6px 6.6px #5117249e;
}

.interests {
    background-color: #EF476F;
    border: 4px solid whitesmoke;
    box-shadow: 3.3px 6.6px 6.6px #5117249e;
    padding: 20px;
    width: 700px;
    overflow-y:scroll;
    position:absolute;
    top: 60%;
    Height: 500px;
    display: flex;
    flex-direction:column;
}

.sub-container {
    float:left;
    background-color: whitesmoke;
    width: 300px;
    margin: 20px;
    padding: 1%;
    height: auto;
    position:static;
    box-shadow: 3.3px 6.6px 6.6px #11ADC1FF;
}

.interests-sub {
    display: flex;
    flex-direction:row;
}

.column {
    width: 400px;
    overflow-y:visible;
    display: flex;
    flex-direction:column;
}

.currently {
    background-color: #EF476F;
    border: 4px solid whitesmoke;
    float: right;
    position:absolute;
    margin: 20px;
    padding: 10px;
    top: 50%;
    right: 2%;
    box-shadow: 3.3px 6.6px 6.6px #5117249e;
}

.star {
    height: 70px;
    width: 70px;
    position: absolute;
    animation-name: star-animation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes star-animation {
    0% { transform: translateY(0px);}
    50% { transform: translateY(-10px)}
    100% { transform: translateY(0px)}
  }
