body {
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tv-screen {
    width: 200vh; /* Ajuste conforme necessário */
    height: 100vh;
    background: black;
    border-radius: 30px; /* Simula a curva da tela */
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.1), 
                inset 0 0 80px rgba(0, 0, 0, 0.8); /* Iluminação interna */
    border: 10px solid #333; /* Borda para imitar a moldura */
    overflow: hidden; /* Evita que conteúdo ultrapasse */
    position: relative;
}

p {
    color: white
}
