html,body {
    width: 100%;
    height: 100%;
    clip: auto;
    position: absolute;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

@font-face {
    font-family: 'title';
    src: url(fonts/konkhmer-sleokchher-khmer-400-normal.ttf);
}

h1 {
    font-family: 'title';
    font-size: 5em;
    margin-bottom: 0px;
}

h3 {
    margin: 0px;
}

header {
    text-align: center;
    color: white;
}

body {
    background-color: #393457FF;
    text-align: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: white;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #11ADC1FF;
}

a:hover {
    color: #11ADC1FF;
    text-decoration-color: white;
}
  
.goback {
    color: white;
    position:absolute;
    top: 3vh;
    left: 3vw;
    background-color: #d9d9d93b;
    border-radius: 9px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}
  
.goback:hover {
    background-color: rgba(109, 247, 194, 0.375);
}

.line-decor {
    border: 0;
    height: 1em;
    margin-bottom:10px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #393457FF, rgba(255, 255, 255, 0));
}

.lines {
    z-index: -1;
    position: absolute;
    top: 5.5em;
    left: 0px;
    width: 100%;
    height: 100%;
}

.content {
    padding: 2vw;
}

main {
    margin: auto;
    width: 70%;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
}

p {
    text-align: justify;
    text-indent: 50px;
    letter-spacing: 1.3px;
    line-height: 1.5;
}

.sidebar {
    margin: auto;
    width: 25%;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: right;
    background-color: #F99252FF;
    border-radius: 1em;
    border: white dashed 2px;
    margin-bottom: 2em;
    
}

hr {
    border: 0;
    height: 1px;
    border-top: #606C81FF dashed 2px;
}

h2 {
    color: #CB4D68FF;
}

ul {
    margin-left: 2em;
    
}

ul li, ol li {
    text-align: start;
    line-height: 1.5;
    text-align: justify;
    letter-spacing: 1.3px;
    margin-bottom: 1em;
}

.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #F99252FF;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: rgb(17, 172, 193);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 45%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(17, 172, 193) transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.highlight {
    background-color: #CB4D68FF;
    border-radius: 10px;
    padding: 2px;
}

summary {
    cursor: pointer;
    font-weight: bold;
    background-color: #F99252FF;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    text-align: start;
    margin-bottom: 1em;
}

summary h3 {
    margin-left: 10px;
}

summary:hover {
    background-color: rgb(235, 162, 117);
}

summary:active, .team:hover {
    transform:scale(0.9);
    cursor: pointer;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.team, .photo {
    display: inline-block;
    width: 11em;
    text-align: center;
    margin-left: 2em;
}

.photo {
    margin-left: 6em;
}

.team img{
    height: 10em;
    width: 10em;
    border-radius: 50%;
    object-fit: cover;
}

.photo img{
    height: 15em;
    width: 15em;
    object-fit: cover;
    background-color: whitesmoke;
    padding: 0.5em;
}

.moving-teams {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0 auto;
    animation-name: moving-teams;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    &:hover .group {
      animation-play-state: paused;
    }
}

.moving-teams:hover {
    animation-play-state: paused;
}

@keyframes moving-teams {
    0% { transform: translateX(0);}
    100% { transform: translateX(-200%);}
}

.track, .senna-track {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.senna-track::before,.senna-track::after {
    background: #F7E476FF;
    background: linear-gradient(90deg, rgba(42, 123, 155, 0) 0%, rgb(247, 228, 118) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.track::before,.track::after {
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 0) 0%, rgba(57, 52, 87, 1) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 200px;
    z-index: 2;
}
	
.track::after, .senna-track::after {
    right: 0;
    top: 0;
}

.track::before, .senna-track::before {
    left: 0;
    top: 0;
    transform: rotate(180deg);
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: fit-content;
}

.wrapper {
    height:fit-content;
    width:fit-content
}

.senna {
    height: fit-content;
    border-radius: 2em;
    border: #F7E476FF 0.5em solid;
    width: 99vw;
    background-color: #F7E476FF;
    color: #393457FF;
    transform:translateX(-3em);
    padding: 0;
}

.senna h2 {
    margin-top: 1em;
    font-size: 3em;
    font-weight: bolder ;
    color: #1E8875FF;
}

.brazil-flag {
    position: absolute;
    top: 2em;
    left: 70vw;
    width: 7em;
    height: 5em;
    margin: auto;
    background-color: #5BB361FF;
    align-content: center;
    justify-content: center;
    border-radius: 0.4em;
    transform: rotate(8deg);
    filter:drop-shadow(6px 6px 10px rgba(27, 49, 31, 0.184));
}

.brazil-flag .losango {
    background-color: #F7E476FF;
    aspect-ratio: 1/1;
    width: 50%;
    transform: rotate(45deg);
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 0.3em;
}

.brazil-flag .losango .circulo {
    background-color: #393457FF;
    border-radius: 50%;
    width: 70%;
    aspect-ratio: 1/1;
    margin: 0 auto;
}
