html {
    scrollbar-color: #C92464FF;
}

body {
    background: #1E8875FF;
    padding: 10px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@font-face {
    font-family: 'title'; /*a name to be used later*/
    src: url("Retrogression-Regular.ttf"); /*URL to font*/
}

h2 {
    font-family: 'title';
    color: white;
    text-align: center;
    font-size: 5em;
}

h4 {
    font-size: 2em;
}

.container {
    float: left;
    width: 50%;
}

.outer {
    background: #CB4D68FF;
    border-radius: .7em;
    border: #6A3771FF solid 10px;
    height: 100vh;
    padding:5px;
    overflow-y: scroll;
}

.books {
    align-items: flex-end;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.bookspine {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background: #393457FF;
    height: 7.6em;
    min-width: fit-content;
    width: 1.5em;
    padding: 10px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    border-radius: .3em;
}

.bookspine:hover {
    transform: translateY(-8px);
}

.fat{
    width: 2.2em;
}

.medium {
    height: 7.5em;
}

.tall {
    height: 9em;
}

.short {
    height: 6em;
}

.darkgreen {
    background: #1E8875FF;
}

.green {
    background: #5BB361FF;
}

.purple {
    background: #6A3771FF;
}

.hotpink {
    background: #C92464FF;
}

.darkblue {
    background: #393457FF;
}

.orange {
    background: #F99252FF;
}

.blue {
    background: #11ADC1FF;
}

.yellow {
    background: #F7E476FF;
    color: #F99252FF;
}

.black {
    background: #1F1B31FF;
}

.babypink {
    background: #F48CB6FF;
}

.bookcover {
    display: inline;
    height: 14em;
    box-shadow: 3.3px 6.6px 6.6px #5117249e;
}

.shelf {
    background: #6A3771FF;
    width: 100%;
    height: 1em;
}

.descriptionbox {
    display: none;
    text-align: center;
    margin:10px;
    background: #5BB361FF;

}

.date {
    background: #F99252FF;
}


