html {
    scrollbar-color: rgb(203, 96, 137) rgba(30, 136, 117, 0);
    scrollbar-width: thin;
}

body {
    background: #1E8875FF;
    padding: 10px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: hidden;
    background-image: url('images/backgrounds/readingbg.png');
    background-size: 100%;
    align-content: center;
}

@font-face {
    font-family: 'title'; /*a name to be used later*/
    src: url("fonts/Retrogression-Regular.ttf"); /*URL to font*/
}

h2 {
    font-family: 'Reenie Beanie';
    color: white;
    text-align: center;
    font-size: 5em;
    margin:20px;
}

h3 {
    font-family: 'Reenie Beanie';
    font-size: 3em;
    margin: .5em;
}

h4 {
    font-size: 4em;
    font-family: 'Reenie Beanie';
    margin: .4em;
}

img {
    float: left;
    margin:40px;
}

a {
    background: #C92464FF;
    color: white;
    text-decoration: none;
    margin: .5em;
    padding: .5em;
    border-radius: 0.5em;
    border: white dashed 2px;
}

a:hover {
    background: rgb(229, 141, 175);
    color: #C92464FF;
    text-decoration: none;
}

#mensagemPadrao {
    text-align: center;
    font-size: 1.5em;

}

.container {
    float: left;
    width: 50%;
}

.topshelf {
    width: 100%;
    height: 1.5em;
    background: #1F1B31;
}

.outer {
    background: #606C81;
    border-radius: 0 0 .7em .7em ;
    border: #393457 solid 1em;
    height: 90vh;
    overflow-y: scroll;
    margin:5px;
    margin-top: 0px;
    scrollbar-width: thin;
}

.books {
    align-items: flex-end;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.bookspine {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background: #393457FF;
    height: 7.6em;
    min-width: fit-content;
    width: 1.5em;
    padding: 10px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    border-radius: .3em;
}

.bookspine:hover {
    transform: translateY(-8px);
}

.fat{
    width: 2.2em;
}

.medium {
    height: 7.5em;
}

.tall {
    height: 9em;
}

.short {
    height: 6em;
}

.darkgreen {
    background: #1E8875FF;
}

.green {
    background: #5BB361FF;
}

.purple {
    background: #6A3771FF;
}

.hotpink {
    background: #C92464FF;
}

.darkblue {
    background: #393457FF;
}

.orange {
    background: #F99252FF;
}

.blue {
    background: #11ADC1FF;
}

.yellow {
    background: #F7E476FF;
    color: #F99252FF;
}

.black {
    background: #1F1B31FF;
}

.babypink {
    background: #F48CB6FF;
}

.bookcover {
    display: inline;
    height: 14em;
    box-shadow: 3.3px 6.6px 6.6px #5117249e;
    margin:15px;
}

.shelf {
    background: #393457;
    width: 100%;
    height: 1em;
}

.descriptionbox {
    display: none;
    text-align: center;
    margin:40px;
    margin-top: 1em;
    background: #c9246391;
    padding:20px;
    border-radius: 2em;
    padding-top:5px;
    border: white dashed 2px;
    height: 67vh;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.date {
    background: #F99252FF;
}

.divider {
    height:2px;
    width:100%;
    background: white;
}

.box {
    position: relative;
    text-align: start;
}

.highlight {
    background: #C92464FF;
    font-style: bold;
}

.glow {
    font-size: 1.5em;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glow {
from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
}
}

.goback {
color: white;
position:absolute;
top: 3vh;
left: 3vw;
background-color: #d9d9d93b;
border-radius: 9px;
padding: 5px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-decoration: none;
}

.goback:hover {
    background-color: rgba(109, 247, 194, 0.375);
    color: white;
    text-decoration: none;
}
  
