html,body {
  width: 100%;
  height: 100%;
  clip: auto;
  position: absolute;
  background-image: url("images/bg2.png");
  background-size: cover;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background-color: #393457FF;
  text-align: center;
  color: #dcd2bd;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@font-face {
    font-family: 'title'; /*a name to be used later*/
    src: url("images/Retrogression-Regular.ttf"); /*URL to font*/
}

h1 {
    font-family: 'title';
    font-size: 5em;
}

.goback {
  color: white;
  position:absolute;
  top: 3vh;
  left: 3vw;
  background-color: #d9d9d93b;
  border-radius: 9px;
  padding: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
}

.goback:hover {
  background-color: rgba(109, 247, 194, 0.375);
}

.content {
    background-color: #ffffffb7;
    width: 50%;
    padding: 2em;
    margin: auto;
    margin-top: 3em;
    border-radius: 15px;
    color: #1f1b31;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: #1f1b31 3px dashed;
    box-shadow: 0px 0px 10px #1f1b31;
}

.song {
    background-color: #cb4d68;
    width: 70%;
    padding: 0.5em;
    margin: auto;
    margin-top: 3em;
    color: #1f1b31;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 0px 10px #1f1b31;
}

